.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 150px;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__userInfo {
  margin-right: 5px;
}

.header__signout {
  cursor: pointer;
}
