.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 150px;
}

.header__user {
  display: flex;
  align-items: center;
}

.header__userInfo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--color-lightgray);
  display: grid;
  place-items: center;
  margin-right: 5px;
}

.header__signout {
  cursor: pointer;
}
