/* ------------------------------RESET STYLES------------------------------ */
img {
  width: 100%;
}

.header__logo {
  width: 150px;
}

.footer__logo {
  width: 80px;
}

/* ------------------------------Gradient Border------------------------------ */
/* All side border */
.border__visfin {
  background: linear-gradient(
    to right,
    hsla(261, 100%, 86%, 1) 0%,
    hsla(195, 100%, 33%, 1) 100%
  );
  padding: 1px;
}

/* border-bottom */
.border__visfin--bottom {
  padding: 0 0 1px 0;
}

/* border-top */
.border__visfin--top {
  padding: 1px 0 0 0;
}

/* ------------------------------Gradient Border------------------------------ */
.bg__visfin {
  background: linear-gradient(
    135deg,
    hsla(261, 100%, 86%, 1) 0%,
    hsla(195, 100%, 33%, 1) 100%
  );
  box-shadow: 2px 3px 39px 1px rgba(112, 94, 112, 0.75);
}

/* ------------------------------Statistics------------------------------ */
.statistics {
  border-radius: 1rem;
}

.statistics__subtitle {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .statistics {
    display: flex;
  }
}
